---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

// Our variables
$base-font-family: "IBM Plex Sans", -apple-system, BlinkMacSystemFont,
  "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans",
  "Helvetica Neue", sans-serif;
$base-font-size: 16px;
$base-font-weight: 400;
$small-font-size: $base-font-size * 0.875;
$base-line-height: 1.5;

$header-height: 56px;
$spacing-unit: 30px;

// Brand colors

// Primary - When taking into account specific scenarios and applications, the balance of color should always lean towards Meltano Blue.
$meltano-blue: #3438bf;

// Secondary - The secondary color should be used sparingly to highlight the most important items in a layout, such as CTAs.
$flame-red: #d9042b;

// Accent Colors - Accent colors can be used to highlight important areas and add variety and depth to layouts. In the majority of uses, strong contrast between colors is preferred.
$meltano-blue-2: #031d4d;
$meltano-blue-3: #000e29;
$ash: #2e2e33;
$turqoise: #02a5a5;
$jade: #b0e3c1;
$moonstone: #fae6be;
$gold: #fbbf52;

// Neutrals - Utility colors whose main role is to support the primary, secondary and accent colors.
$steel: #62626e;
$armor: #c0c0c4;
$silver: #f1f1f2;
$dragons-egg: #e8f0ff;
$ice: #f5f7fa;
$white: #fff;

// Width of the content area
$content-width: 800px;

$on-palm: 600px;
$on-laptop: 800px;

// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import "base", "layout", "syntax-highlighting";

ul.button-grid {
  padding: 0;
  margin-left: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  align-items: center;
  justify-content: center;

  > li {
    list-style: none;
    position: relative;
    text-align: center;

    a:first-child {
      display: block;
      padding: 10px;

      border: 1px solid transparent;
      border-radius: 5px;

      &:hover {
        text-decoration: none;
        border-color: $meltano-blue;
      }

      .logo-well {
        margin: 0 auto;
        width: 100px;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 10px;

        img.logo {
          max-width: 100px;
          max-height: 100px;
        }
      }

      strong {
        display: block;
        font-size: 1.5em;

        &:not(:last-child) {
          margin-bottom: 10px;
        }

        small {
          padding: 1px 5px;
          position: relative;
          bottom: 2px;
          margin-left: 5px;
          border: 1px solid $meltano-blue;
          border-radius: 5px;
          font-size: 0.6em;
        }
      }

      span.label {
        display: block;
        font-size: 1.2em;
      }

      p {
        color: $steel;
        margin-bottom: 0;
      }
    }

    a.meltano-badge {
      position: absolute;
      top: -5px;
      right: -5px;
      width: 100px;
      height: 15px;
      border: 1px solid #3438bf;
      border-radius: 30px;
      background-color: #fff;
      font-size: 10px;

      &:hover {
        background-color: $meltano-blue;
        color: $white;
      }
    }
  }

  @include media-query($on-palm) {
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 10px;

    > li a strong {
      font-size: 1.2em;
    }
  }

  &.two-columns {
    grid-template-columns: 1fr 1fr;

    > li {
      a {
        padding-left: 20px;
        padding-right: 20px;
      }
    }
  }

  &.three-columns {
    grid-template-columns: 1fr 1fr 1fr;

    > li {
      a {
        padding-left: 15px;
        padding-right: 15px;
      }
    }
  }
}

details.post-toc {
  margin-bottom: 15px;

  summary {
    cursor: pointer;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding-top: $header-height;
  margin-top: -$header-height;

  code {
    font-size: 0.9em;
  }
}

input.grid-search {
  display: block;
  margin: 0 auto 15px;
  padding: 10px 20px;
  border: 1px solid $meltano-blue;
  border-radius: 40px;
  outline: none;
  font-size: 1.1rem;
  text-align: center;
  color: $meltano-blue;
  width: 50%;

  &:disabled {
    background-color: $white;
    border-color: #ccc;
  }
}
